body {
    padding: 0;
    margin: 0;
}

.toggler-change-region {
    margin: 20px;
    padding: 10px 20px;
    border: 1px solid #54B2D3;
    color: #54B2D3;
    background-color: white;
    font-weight: bold;
    position: fixed;
    top: 20px;
    left: 30px;
}

.language-overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.265);
    width: 100vw;
    top: 0px;
    height: 100vh;
    /* backdrop-filter: blur(1px); */
}
/* bottom: -400px; */

.language-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.change-language-toggle {
    height: 400px;
    background-color: #54B2D3;
    padding: 50px 100px;
    position: fixed;
    bottom: -500px;
    transition: .3s ease-in;
    width: 100vw;
}

.region-image-heading{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.language-heading{
    color: #fff;
    font-weight: bold;
    font-size: 64px;
    margin: 0;
}

.language-description{
    color: #fff;
    font-size: 24px;
}

.items-languages {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.items-languages a {
    border: 2px solid white;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    width: 200px
}

.close-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    right: 300px;
    top: 20px;
    cursor: pointer;
    color: #fff;
}

.close-btn div{
    font-weight: 400;
    font-size: 20px;
}

.close-btn div:hover{
    text-decoration: underline;
}